body{
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(27, 26, 26);
    margin: unset;
    padding: unset;
}
html, body {
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1260px;
    min-width: 500px;
    min-height: 500px;
    margin: 0px auto;
    display: block;
}
.img-warrper{
    width: 400px;
    height: 530px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.2s;
}
.img-warrper:hover{
    box-shadow: 2px 4px 4px 2px rgb(236, 148, 148,0.3);
}
.banner{
    margin-right: 50px;
}
.header{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
}
.b-1{
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
}
.b-2{
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
}
.text-banner{
    max-width: 500px;
}
.btn{
    padding: 10px;
    border-radius: 10px;
    background:rgb(243, 57, 57);
    border: unset;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0px auto;
   
    transition: 0.2s;
}
.btn:hover{
    box-shadow: 2px 4px 4px 2px rgb(236, 148, 148,0.3);
}
.justify-center{
    display: flex;
    justify-content: center;
}
li{
    margin-top: 5px;
}

